body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.login {
  display: flex;
  align-items: center;
}

.box {
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.481);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.signuptag {
  text-align: center;
}
button {
  width: 100%;
}
footer .f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
footer .f-info-links,
footer .f-info-socials,
footer .f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
footer .f-info-links a {
  text-decoration: none;
  color: #222222;
}

footer .f-info-links a:hover {
  text-decoration: underline;
}
.fa-brands {
  color: black !important;
}
