<% layout ("/layouts/boilerplate.ejs") %>
<body>
  <div class="mt-5 box">
    <h3>Hi!</h3>
    <p>Welcome to Project 1</p>
    <p>To access the Login the Signup Pages, access the below options.</p>
    <div class="row">
      <div class="col-6">
        <form action="/login">
          <button class="btn btn-dark">Login</button>
        </form>
      </div>
      <div class="col-6">
        <form action="/signup">
          <button class="btn btn-dark">Signup</button>
        </form>
      </div>
    </div>
  </div>
</body>
