<%- layout ("layouts/boilerplate.ejs")%>

<main>
  <section class="about">
    <h1>About Techy Software Company</h1>
    <p>
      We specialize in creating state-of-the-art software solutions for various
      industries.
    </p>
  </section>
</main>
